@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Bebas+Neue&display=swap');

.conteneur {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #efefef;
}

/*--------------------HEADER--------------------------*/
header {
    background-color: #f5c67c;
    width: 100%;
}

header h1 {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    text-align: center;
}

.victor{
    margin-top: 30px;
    letter-spacing: 2px;
    color: #080706;
    font-size: 100%;
}

.webdev {
    font-weight: normal;
    letter-spacing: 1px;
    color: #080706;
}

.vf {
    display: block;
    margin: 20px auto;
    width: 35%;
    max-width: 150px;
}

.separateur {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 1px;
    width: 40%;
    display: block;
    background-color: #594D46;
}

/*---------------------MENU--------------------------*/
.menu {
    width: 100%;
    background-color: rgba(89, 77, 70, 0.9);
    position:fixed;  
    z-index: 5;
    top: -70%;
    transition: top 500ms ease 0ms;
}

.menu.affiche {
    top:0px;
    transition: top 500ms linear 0s;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
    text-align: center;
    margin: 5%;
}

.menu ul li a {
    text-decoration: none;
    color: #efefef;
    font-size: 150%;
    font-family: 'Barlow Condensed', sans-serif;
}

.menu ul li a:hover {
    font-weight: bold;
}

.burger {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/*---------------------MAIN-------------------*/
main {
    margin-top: 40px;
}

main h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    color: #594D46;
    font-weight: normal;
    margin: 0;
    font-size: 170%;
}

main h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 23px;
    text-align: center;
    font-weight: normal;
    margin: 20px 5px;
    color: #594D46;
}

main h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 20px 5px;
    color: #594D46;
}

main p {
    font-family: 'Barlow Condensed', sans-serif;
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
}

/*------------------ACCUEIL--------------------*/
.accueil {
    text-align: left;
    margin: 30px;
    color: #594D46;
    font-weight: normal;
    font-size: 18px;
}

.right {
    text-align: right;
    margin: 30px;
    color: #594D46;
    font-weight: normal;
    font-size: 18px;
}

/*----------------------LIENS--------------------*/
.liens {
    display: grid;
    grid-template-columns: 1fr;
    width: 85%;
    margin: 0 auto;
}

.liens a {
    text-decoration: none;
}

.liens img {
    width: 100%;
    border: 1px solid #f5c67c;
    border-radius: 5px;
}

.titre_mobile {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #594D46;
    font-family: 'Barlow Condensed', sans-serif;

}

.titre_ordi {
    display: none;
}

/*--------------------GALERIE----------------------*/
.galerie {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 30px auto;

}

.galerie figure {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.galerie a {
    width: 100%;
    max-width: 480px;
    text-decoration: none;
}

.galerie a :hover{
    font-weight: bold;
}

.galerie img {
    border: 1px solid #f5c67c;
    border-radius: 5px;
    padding: 3px;
    width: 97%;
    height: auto;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.galerie img :hover {
    border: 1px solid #f5c67c;
}

.galerie figcaption {
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #080706;
}

/*----------------------TUTO---------------------------*/
.tuto {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

.tuto a {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #080706;
}

.tuto a img{
    border: 1px solid #f5c67c;
    width: 100%;
    border-radius: 5px;
}

.tutos {
    width: 100%;
}

/*---------------------CONTACT---------------------------*/
form{
    width: 80%;
    margin: 30px auto;
}

input {
    border: 1px solid #594D46;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #f5c67c;
    border-radius: 5px;
    outline: none;
}

input[type=text]{
    width: 98%;
    height: 20px;
    margin: 15px 0px;
}

input[type=submit]{
    height: 24px;
    margin: 30px auto;
    display: block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}

::placeholder {
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 5px;
}

textarea {
    width: 98%;
    height: 100px;
    margin: 15px 0px;
    border: 1px solid #594D46;
    border-radius: 5px;
    resize: none;
}

textarea:focus {
    border: 2px solid #f5c67c;
    border-radius: 5px;
    outline: none;
}


/*----------------------FOOTER---------------------------*/
footer {
    background-color: #594D46;
    margin-top: 20px;
}

footer p{
    color: #efefef;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
}

@media screen and (min-width:800px) {

    /*-------------------HEADER------------------*/
    .vf {
        display: inline;
        width: 100px;
        margin: 20px 20px;
        float: left;
    }

    header h1 {
        text-align: left;
    }

    .separateur {
        margin-top: 52px;
    }

    .victor {
        margin-top: 40px;
    }

    /*--------------------MENU-------------------*/
    .menu {
        width: 30%;
        right: 0;
    }

    .burger {
        position: absolute;
        top: 0;
    }

    /*-------------------MAIN-----------------------*/
    main h1 {
        font-size: 40px;
    }

    main p {
        font-size: 20px;
    }

    /*-------------------ACCUEIL--------------------*/
    .accueil {
        margin: 50px auto;
        max-width: 1100px;

    }

    /*-------------------LIENS----------------------*/
    .liens {
        gap: 20px;
    }

    .liens a {
        background-color: #594D46;
        text-decoration: none;
        border-radius: 5px;
        max-width: 800px;
        margin: 0 auto;
    }

    .liens img {
        display: block;
        float: right;
        width: 75%;
        border-radius: 0px 5px 5px 0px;
        margin-left: 15px;
    }

    .titre_mobile {
        display: none;
    }

    .titre_ordi {
        display: inline;
    }

    .titre_ordi h3 {
        margin: 0px;
        color: #efefef;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: normal;
        margin-left: 15px;
    }

    /*-------------------GALERIE----------------------*/
    .galerie {
        grid-template-columns: 1fr 1fr;
        gap: 0px 30px;
    }

    /*----------------------TUTO-----------------*/

    .tuto {
        width: 80%;
        min-width: 800px;
        margin: 0 auto;
    }

    .tuto a {
        font-size: 20px;
    }

    .tuto h2 {
        margin-top: 50px;
    }
    /*------------------CONTACT-----------------*/
    form {
        max-width: 800px;
    }

}

@media screen and (min-width:1280px) {

    /*-------------------HEADER------------------*/
    .vf{
        display: block;
        width: 150px;
        margin-left: 35%;
        margin-bottom: 70px;
        margin-top: 50px;
        max-width: none;
    }

    .victor {
        font-size: 150% ;
        margin-top: 80px;
    }

    .webdev {
        font-size: 300% ;
    }

    .burger {
        display: none;
    }

    .separateur {
        margin-top: 105px;
        /* display: none; */
    }

    /*--------------------MENU-------------------*/
    .menu {
        width: 100%;
        height: auto;
        position:sticky;
        margin-top: 20px;
    }

    .menu ul {
        padding-left: 10%;
        margin-top: 2px;
        margin-bottom: 6px;
    }

    .menu ul li {
        display: inline;
    }

    /*-------------------GALERIE----------------------*/
    .galerie {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*----------------------TUTO-----------------*/

    .tuto {
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        width: 1100px;
        margin: 0 auto;
    }
    
    .retenir {
        padding-top: 10px;
        margin: 0px;
    }

    .retenir p {
        background-color: #f5c67c;
        border-radius: 5px;
        padding: 20px;
    }

    .retenir h2 {
        margin-top: 50px;
    }

    .tutos h2 {
        margin-bottom: 0;
        text-align: left;
        padding-top: 60px;
    }

    .tuto a {
        width: 100%;
        height: 100%;
        background-color: #594D46;
        color: #efefef;
        border-radius: 5px;
        padding-left: 15px;
    }

    .tuto a img {
        display: block;
        float: right;
        width: 60%;
        height: 100%;
        border-radius: 0px 5px 5px 0px;
        margin-left: 15px;
    }

    .tutos{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 10px;
    }

    /*------------------CONTACT-----------------*/
}