@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Bebas+Neue&display=swap');

.conteneur {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #efefef;
}

/*--------------------HEADER--------------------------*/
header {
    background-color: #f5c67c;
    width: 100%;
}

header h1 {
    margin: 0;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.victor{
    margin-top: 30px;
    letter-spacing: 2px;
    color: #080706;
    font-size: 100%;
}

.webdev {
    font-weight: lighter;
    letter-spacing: 1px;
    color: #080706;
}

.vf {
    display: block;
    margin: 20px auto;
    width: 35%;
    max-width: 150px;
}

.separateur {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 1px;
    width: 40%;
    display: block;
    background-color: #594D46;
}

/*---------------------MENU--------------------------*/
.menu {
    width: 100%;
    background-color: rgba(89, 77, 70, 0.9);
    position:absolute;  
    z-index: 5;
    top: -70%;
    transition: top 500ms ease 0ms;
}

.menu.affiche {
    top:0px;
    transition: top 500ms linear 0s;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
    text-align: center;
    margin: 5%;
}

.menu ul li a {
    text-decoration: none;
    color: #efefef;
    font-size: 150%;
    font-family: 'Barlow Condensed', sans-serif;
}

.menu ul li a:hover {
    font-weight: bold;
}

.burger {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*---------------------MAIN-------------------*/
main {
    margin-top: 40px;
}

main h1 {
    text-align: center;
    color: #594D46;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
    margin: 0;
    font-size: 170%;
}

@media screen and (min-width:800px) {

    /*-------------------HEADER------------------*/
    .vf {
        display: inline;
        width: 100px;
        margin: 20px 20px;
        float: left;
    }

    header h1 {
        text-align: left;
    }

    .separateur {
        margin-top: 52px;
    }

    .victor {
        margin-top: 40px;
    }

    /*--------------------MENU-------------------*/
    .menu {
        width: 30%;
        right: 0;
    }

    .burger {
        top: 0;
    }
}

@media screen and (min-width:1280px) {

    /*-------------------HEADER------------------*/
    .vf{
        display: block;
        width: 150px;
        margin-left: 35%;
        margin-bottom: 70px;
        margin-top: 50px;
        max-width: none;
    }

    .victor {
        font-size: 150% ;
        margin-top: 80px;
    }

    .webdev {
        font-size: 300% ;
    }

    .burger {
        display: none;
    }

    .separateur {
        margin-top: 105px;
        /* display: none; */
    }

    /*--------------------MENU-------------------*/
    .menu {
        width: 100%;
        height: auto;
        position:sticky;
        margin-top: 20px;
    }

    .menu ul {
        padding-left: 10%;
        margin-top: 2px;
        margin-bottom: 6px;
    }

    .menu ul li {
        display: inline;
    }
}