@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Bebas+Neue&display=swap');

.conteneur {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #efefef;
}

/*--------------------HEADER--------------------------*/
header {
    background-color: #f5c67c;
}

header h1 {
    margin: 0;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.victor{
    margin-top: 30px;
    letter-spacing: 2px;
    color: #080706;
    font-size: 100%;
}

.webdev {
    font-weight: lighter;
    letter-spacing: 1px;
    color: #080706;
}

.vf {
    display: block;
    margin: 20px auto;
    width: 35%;
}

.separateur {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 1px;
    width: 40%;
    display: block;
    background-color: #594D46;
}

/*---------------------MENU--------------------------*/
.menu {
    width: 100%;
    background-color: #594D46;
    position:absolute;  
    z-index: 5;
    top:-50%;
    transition: top 500ms ease 0ms;
}

.menu.affiche {
    top:0px;
    transition: top 500ms linear 0s;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
    text-align: center;
    margin: 5%;
}

.menu ul li a {
    text-decoration: none;
    color: #efefef;
    font-size: 150%;
    font-family: 'Barlow Condensed', sans-serif;
}

.burger {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*---------------------MAIN-------------------*/
main {
    margin-top: 40px;
}

main h1 {
    text-align: center;
    color: #594D46;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
    margin: 0;
    font-size: 170%;
}

@media screen and (min-width:800px) {

    /*-------------------HEADER------------------*/
    .vf {
        display: inline;
        width: 100px;
        margin: 20px 20px;
        float: left;
    }

    header h1 {
        text-align: left;
    }

    /*--------------------MENU-------------------*/
    .menu {
        width: 30%;
        right: 0;
    }

    .burger {
        top: 0;
    }
}